@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('assets/fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('assets/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ------ Reset ------ */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: unset;
}

/* ------ General ------ */

* {
    font-family: 'Roboto', Helvetica, sans-serif;
}

a:hover {
    filter: brightness(85%);
}

a:active {
    filter: brightness(70%);
}

button:hover {
    background-color: unset;
}

button:active {
    background-color: unset;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 180px 1fr;
    grid-template-areas: 
        "sidebar header" 
        "sidebar content";
    background-color: rgb(226,232,240);
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(25,146,212);
}

.header {
    grid-area: header;
    background-color: white;
}

.content {
    grid-area: content;
}

/* ------ Sidebar ------ */

.sidebar {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 50px;
    padding: 14px;
    color: white;
}

.logo-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.img-logo {
    width: 56px;
    filter: invert(100%);
    justify-self: center;
}

.img-logo:hover {
    transform: scale(110%);
}

.text-logo {
    font-size: 1.7rem;
    font-weight: bold;
    align-self: center;
}

.navigation-container,
.settings-container {
    display: grid;
    gap: 18px;
}

.sidebar li {
    font-size: 1.3rem;
    font-weight: bold;
}

.icon {
    width: 26px;
    height: auto;
}

.sidebar .icon {
    filter: invert(100%);
    margin: 0 25px 0 15px;
    vertical-align: sub;
}

/* ------ Header ------ */

/* search bar */
.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 14px 50px 10px 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.search-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: center;
}

.search-bar {
    border: none;
    border-radius: 16px;
    height: 32px;
    max-width: 600px;
    background-color: rgb(226,232,240);
    padding: 0 12px;
}

.search-container button,
.user-info-container button {
    background-color: transparent;
    border: none;
}

.search-container .icon:hover,
.user-info-container .icon:hover {
    filter: invert(40%);
    transform: scale(120%);
}

.search-container .icon:active,
.user-info-container .icon:active {
    filter: invert(65%);
}

/* user profile */
.user-info-container {
    display: grid;
    grid-template-columns: 7fr auto auto auto 1fr;
    align-items: center;
    gap: 25px;
}

.profile-img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.user-info-container button {
    grid-column: 2;
}

/* user greeting */
.user-greeting-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    column-gap: 30px;
}

.user-greeting-container .profile-img {
    grid-row: 1 / 3;
    width: 70px;
    justify-self: start;
    align-self: center;
}

.greeting-text {
    font-weight: bold;
    font-size: 0.9rem;
    align-self: end;
}

.username-text {
    grid-column: 2;
    font-weight: bold;
    font-size: 1.6rem;
    align-self: start;
    /* white-space: nowrap; */
}

/* content creation buttons */
.btn-container {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    align-items: center;
    justify-items: end;
    gap: 20px;
}

.btn-container button {
    padding: 12px 0;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: rgb(25,146,212);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn-container button:hover {
    filter: brightness(85%);
}

.btn-container button:active {
    filter: brightness(70%);
}

#new-btn {
    grid-column: 2;
}

/* ------ Content ------ */

.content {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 300px;
    grid-template-rows: auto 1fr;
    gap: 40px 30px;
    padding: 30px;
}

/* "your projects" */
.project-container {
    grid-row: 1 / 3;
}

.project-container > p,
.announce-container > p,
.trending-container > p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project-container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 220px;
    gap: 20px;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid rgb(240,180,41);
    padding: 22px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    
    display: grid;
    grid-template-rows: 25px 1fr auto;
}

.proj-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.proj-desc {
    overflow-y: auto;
    font-size: 0.9rem;
    color: rgb(103, 103, 103);
}

.proj-card-btns {
    justify-self: end;
    width: 120px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.proj-card-btns .icon:hover {
    filter: invert(40%);
    transform: scale(120%);
}

.proj-card-btns .icon:active {
    filter: invert(65%);
}

.proj-card-btns button {
    background-color: transparent;
    border: none;
}

/* announcements */

.announce-container .card-container,
.trending-container .card-container {
    background-color: white;
    border-radius: 10px;
    padding: 22px 26px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.announce-card:not(:last-child) {
    border-bottom: 1px solid rgba(103, 103, 103, 0.5);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.announce-title {
    font-size: 0.9rem;
}

.announce-desc {
    font-size: 0.8rem;
    color: rgb(103, 103, 103);
    
    /* Adds ellipses when more than 3 lines */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

/* trending */
.trending-card {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 16px;
}

.trending-card .profile-img {
    grid-row: 1 / 3;
}

.profile-tag {
    font-size: 0.9rem;
    align-self: end;
}

.profile-highlight {
    align-self: center;
    font-size: 0.9rem;
    color: rgb(103, 103, 103);

    /* Adds ellipses when more than 1 lines */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.trending-card:not(:first-child) {
    margin-top: 22px;
}